<script>
  // Skip analytics entirely for visitors asking not to be tracked.
  if (!(window.doNotTrack === "1" || navigator.doNotTrack === "1" ||
        navigator.doNotTrack === "yes" || navigator.msDoNotTrack === "1")) {
    var s = document.createElement("script");
    s.async = true;
    s.src = "https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}";
    document.head.appendChild(s);

    window.dataLayer = window.dataLayer || [];
    window.gtag = function () { dataLayer.push(arguments); };
    gtag("js", new Date());
    gtag("config", "{{ site.google_analytics }}");
  }
</script>
