#post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.dark-mode .post-card {
  background-color: #333;
}
.post-card {
  background-color: #ddd;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}
.post-card:hover {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
}
.post-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.post-card-content {
  padding: 15px;
}
.post-title {
  margin: 0 0 10px;
  font-size: 1.2em;
}
.post-date {
  color: #999;
  font-size: 0.9em;
  margin-bottom: 10px;
}
.post-excerpt {
  font-size: 0.9em;
  margin-bottom: 10px;
}
.post-category {
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  padding: 3px 8px;
  border-radius: 15px;
  font-size: 0.7em;
}

.filter-container {
  margin-bottom: 20px;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.category-select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

.category-select option {
  background-color: #333;
}

select {
  height: min-content;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .filter-container {
      flex-direction: column;
      align-items: flex-start;
  }

  .post-list-heading {
      margin-bottom: 10px;
  }
}